<form class="c-form" 
      {% if cliente %}
        action="{{url_for('cliente.form_atualizar_cliente', cliente_id=cliente.id) }}" 
      {% else %}
        action="{{url_for('cliente.obter_clientes') }}" 
      {% endif %}

      method='{% if cliente %}PUT{% else %}POST{% endif %}'
      
      {%if cliente%}
            c-swap="#cliente-{{cliente.id}}"
      {%else%}
            c-append="#lista_clientes"
      {%endif%}
      c-reload-container='true'>
      
    <div class="mb-3">
      <label  for="exampleInputEmail1" class="form-label">Endereço de email</label>
      <input name='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    
    <div class="mb-3">
        <label  for="exampleInputPassword1" class="form-label">Senha</label>
        <input c-target="#btn_senha" name='senha' id="senha"
        type='password' 
        class="form-control" id="exampleInputPassword1">
    </div>
    
    <div style="display: flex;">
      
      <button style=" margin-right: 10px;" type="submit" class="btn btn-primary">
        {% if cliente %} Salvar {%else%} Adicionar cliente {%endif%}</button>
      
      <form class="c-form" c-reload-container='true'
      c-swap=""
      >
        
        <button onclick="togglePassword()"
              id="btn_senha" type="submit" 
              class= 'btn btn-primary'  data-bs-toggle="button"> 
              mostrar senha
        </button>
      </form>
    </div> 
</form>